name: Release

on:
  push:
    tags:
      - 'v*'

env:
  LLVM_VERSION: 14.0.6
  LLVM_VERSION_MAJOR: 14
  PKG_TARGET: null
  EXECUTABLE: null

jobs:
  build:
    strategy:
      matrix:
    #     os:
    #     - ubuntu-22.04
    #     - macos-12
        # - windows-2022
        node: [18]

    runs-on: ubuntu-22.04

    steps:

    # Checkout the repository
    - name: Checkout repository
      uses: actions/checkout@v3

    # Set up Node.js
    # - name: Set up Node.js
    #   uses: actions/setup-node@v3
    #   with:
    #     node-version: ${{ matrix.node }}

    - name: Setup build environment
      run: |
        # Update packages
        DEBIAN_FRONTEND=noninteractive apt-get update && apt-get install -y curl gcc mono-mcs
        sudo rm -rf /var/lib/apt/lists/*

        # Install Node.js, npm, LLVM, and CMake
        curl -sL https://deb.nodesource.com/setup_18.x | bash
        apt-get install -y nodejs llvm g++ cmake zlib1g-dev

        # Install pkg
        npm i -g pkg

    # Install dependencies and build the project
    - name: Install dependencies and build project
      run: |
        npm install
        npm run build

    # Build executables for different platforms and archs
    - name: Build executables
      run: pkg .

    - uses: actions/upload-artifact@v3
      with:
        name: joelang-${{ github.ref_name }}-x64-linux
        path: joelang
        if-no-files-found: error
    # - uses: actions/upload-artifact@v3
    #   with:
    #     name: joelang-${{ github.ref_name }}-x64-macos
    #     path: joelang-${{ github.ref_name }}-x64-macos
    #     if-no-files-found: error
    # - uses: actions/upload-artifact@v3
    #   with:
    #     name: joelang-${{ github.ref_name }}-x64-win
    #     path: joelang-${{ github.ref_name }}-x64-win
    #     if-no-files-found: error

  release:
    needs: build

    runs-on: ubuntu-latest

    steps:

    # Download the artifacts
    - uses: actions/download-artifact@v3

    # Create the release
    - name: Release
      uses: softprops/action-gh-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        draft: false
        prerelease: true
        files: joelang-artifact-${{ github.ref_name }}-node*-*/joelang-${{ github.ref_name }}-node*-*-*
        name: Release ${{ github.ref_name }}
